#addEventMain{
    margin-top: 3%;
    background-color: rgb(231, 236, 236);
   
    display: flex; /* Set it as a flex container */
    flex-direction: column; /* Optional, if you want the content in a column */
    width: fit-content;
    margin-left: 10%;
    padding: 10px;
    border-radius: 20px;
}
#HeaderaddEvent {
    color: #200a0a;
    width: inline;
    margin: 10px; 
    text-align: center;
    font-size: 30px;
}
#inputEventName input{
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 270px;
}
#inputStart input{
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}
#inputEnd input{
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}
